*{
    font-family: work sans;
    line-height: 30px;
}
/* header */
h1 {
    display: inline-block;
    line-height: 70px;
    vertical-align: middle;
}
img{
    vertical-align: middle;
}

/* sezione1 */
.riquadro {
    display: inline-block;
    line-height: 30px;
    border-radius: 10%;
    text-align: center;
}
#button1{
    background-color: #47ADF1; 
    color: white;
    width: 90px;
}
#button2{
    background-color:white;
    width: 110px;
    border: 1px solid #C5CBD0;
    color: #C5CBD0;
}
.riquadro-blu{
    display: inline-block;
    line-height: 20px;
    width: 70px;
    background-color: #47ADF1;
    text-align: center;
    border-radius: 35px;
    color: white;
    font-size: 12px;
}
/* pallini */
.red-icon {
    color: red;
}
.green-icon {
    color: green;
}
/* sezione2 */
#purple {
    display: inline-block;
    text-align: center;
    line-height: 20px;
    background-color: #9C72E4;
    border-radius: 35px;
    color: white;
    width:70px;
    font-size: 12px;
    }
#green {
    display: inline-block;
    line-height: 20px;
    text-align: center;
    border-radius: 35px;
    color: white;
    background-color: #64C0A9;
    font-size: 12px;
    width: 70px;
}
#orange {
    display: inline-block;
    text-align: center;
    line-height: 20px;
    background-color: #F29E33;
    border-radius: 35px;
    color: white;
    width:60px;
    font-size: 12px;
}
/* footer */
#pink {
    display: inline-block;
    text-align: center;
    line-height: 20px;
    background-color:#D863A1;
    border-radius: 35px;
    color: white;
    width:60px;
    font-size: 12px;
}
#olive {
    display: inline-block;
    text-align: center;
    line-height: 20px;
    background-color: #B0C926;
    border-radius: 35px;
    color: white;
    width:50px;
    font-size: 12px;
}

main{
    margin-left: 50px;
}

li{
    list-style: none;
}

